.cakeList {
	margin: 10px 0;
	ul, li {
		display: inline;
	}
	a {
		padding: 10px;
		display: block;
		float: left;
		width: 200px;
		height: 200px;
		position: relative;
		box-sizing: border-box;
		img {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
		}
		.text {
			position: absolute;
			left: 0;
			bottom: 0;
			color: black;
			background: rgba(255,255,255,0.7);
			padding: 10px;
			height: 50px;
			box-sizing: border-box;
			width: 100%;
		}
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}